.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d4f4ff;
    padding: 20px;
    box-sizing: border-box;
}

/* Chat Header*/
.chat-header {
    width: 100%;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.chat-logo {
    height: 50px; 
    margin-right: 15px;
}

.breadcrumb {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: sans-serif;
}

/* Chatbox */
.chatbox {
    background-color: white;
    width: 100%;
    max-width: 70%;
    height: 70vh;
    border-radius: 10px;
    overflow-y: scroll;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* spaces between messages */
}

/* Message */
.message-container {
    display: flex;
    align-items: flex-end; /* Align avatar with bottom of bubble */
    max-width: 80%;
}

/* user on the right side*/
.message-container.user {
    align-self: flex-end;        
    flex-direction: row-reverse; 
}

/* AI on the left */
.message-container.ai {
    align-self: flex-start;      
    flex-direction: row;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.message {
    padding: 12px 16px;
    border-radius: 15px;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    white-space: pre-wrap;
}

.message.user {
    background-color: #6c63ff;
    color: white;
    border-bottom-right-radius: 4px;
}

.message.ai {
    background-color: #e6e6e6;
    color: black;
    border-bottom-left-radius: 4px; 
}

/* Input Area*/
.input-container {
    display: flex;
    justify-content: center;
    padding: 0px 20px;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    max-width: 70%;
    margin-top: 20px;
    background-color: #ffffff;
}

input[type="text"] {
    width: 100%;
    max-width: 70%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
    margin-right: 10px;
    outline: none;
}

input[type="text"]:focus {
    border-color: #6c63ff;
}

button {
    background-color: #6c63ff;
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

button:hover {
    background-color: #5548c8;
}

button:active {
    background-color: #41359d;
}
